# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
venv311/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Data / logs
*.txt
*.log
*.json
*.jsonl
*.csv
*.npy

# Media
*.png
*.jpg
*.mp4

# Documents
*.pdf
*.doc
*.docx
*.xlsx

# External libs
libsbp/
sbp_backup/

# Temp
test2/
